<launch>

  <arg name="robot" default="$(find mi_primer_robot)/urdf/robot.urdf"/>
  <param name="robot_description" command="cat $(arg robot)" />

  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find mi_primer_robot)/rviz/visualizar_robot.rviz"/>

</launch>